<section>
  <h1>Proyectos</h1>
  <div>
    <button (click)="botonAgregar()"> <i [class]="claseIcono"></i> {{tituloBoton}} </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Proyecto</th>
        <th>Descripcion</th>
        <th>Tecnologías</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proyecto of proyectos">
        <td>
          <img [src]="proyecto.imagen" [alt]="proyecto.nombre">
        </td>
        <td>
          <a routerLink="/proyectos/{{proyecto.id}}"> {{proyecto.nombre}} </a>
        </td>
        <td>
          <p> {{proyecto.descripcion}} </p>
        </td>
        <td>
          <ul *ngFor="let tec of proyecto.tecnologias">
            <li> {{tec}} </li>
          </ul>
        </td>
      </tr>

    </tbody>
  </table>

</section>

<router-outlet></router-outlet>
